<div class="font-sans bg-white h-20 flex flex-col w-full">
  <div class="h-20 bg-gradient-to-r from-green-300 to-black">
    <div class="px-4 py-6">
     <div class="relative w-full text-center">
       <h1 class="animate-pulse font-bold text-gray-200 text-2xl mb-6">
        RAP
       </h1>
    </div>
   </div>
  </div>
</div>
